{{# partial "content"}}


    <div class="success d-flex align-items-center justify-content-center text-centre" style="margin-top:3rem;">
        <div class="alert alert-success " role="alert">
            Your Hero has been saved.
            <div>
                <a href="/">View Your Hero!</a>
            </div>
        </div>
    </div>



{{/partial}}
{{> layout.hbs}}