
    <div class="nav">
        <ul>
            <li><a href="/">Home</a> </li>
            <li><a href="/squad">squad</a> </li>
            <li><a href="/hero">Hero</a> </li>
        </ul>
    </div>



